*.so
*.o
*.dll
*.exe
*.a
/examples/basic-decoder
/examples/single-byte-decoder
/examples/get-sizes
/examples/null-decoder
/examples/benchmark
/examples/just-decode
/examples/just-decode-singlefile
/utils/strip-headers
